{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col-sm-2 col-12">
                <h1 class="text-center text-primary fs-1">
                    Hello
                </h1>
            </div>
        </div>
    </div>

{{end}}